In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Store .csv files into dataframe

In [2]:
# import .csv into dataframe
big_cities_csv_file = "data/Big_Cities_Health_Data_Inventory.csv"
big_cities_health_df = pd.read_csv(big_cities_csv_file)
big_cities_health_df.head()

,Indicator Category,Indicator,Year,Gender,Race/ Ethnicity,Value,Place,BCHC Requested Methodology,Source,Methods,Notes
0,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2013,Both,All,30.4,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
1,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2012,Both,All,39.6,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
2,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2011,Both,All,41.7,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
3,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Male,All,195.8,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN
4,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Female,All,135.5,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN

In [3]:
# import 2010 hospital beds by ownership types; test results in 1,000 populations
hospital_beds_2010_csv_file = "data/2010_hospital_1000population_beds_ownership_type.csv"
hospital_beds_2010_csv_file_df = pd.read_csv(hospital_beds_2010_csv_file)
hospital_beds_2010_csv_file_df.head()

   Year    Location  State/Local Government  Non-Profit  For-Profit  Total
0  2010     Alabama                     1.5         0.8         0.9    3.2
1  2010      Alaska                     0.3         1.5         0.3    2.2
2  2010     Arizona                     0.1         1.6         0.4    2.1
3  2010    Arkansas                     0.4         2.1         0.8    3.2
4  2010  California                     0.3         1.2         0.3    1.9

In [4]:
# import 2011 hospital beds by ownership types; test results in 1,000 populations
hospital_beds_2011_csv_file = "data/2011_hospital_1000population_beds_ownership_type.csv"
hospital_beds_2011_csv_file_df = pd.read_csv(hospital_beds_2011_csv_file)
hospital_beds_2011_csv_file_df.head()

   Year    Location  State/Local Government  Non-Profit  For-Profit  Total
0  2011     Alabama                     1.5         0.9         0.9    3.2
1  2011      Alaska                     0.3         1.6         0.3    2.1
2  2011     Arizona                     0.1         1.6         0.3    2.1
3  2011    Arkansas                     0.3         2.1         0.8    3.2
4  2011  California                     0.3         1.2         0.3    1.9

In [5]:
# import 2012 hospital beds by ownership types; test results in 1,000 populations
hospital_beds_2012_csv_file = "data/2012_hospital_1000population_beds_ownership_type.csv"
hospital_beds_2012_csv_file_df = pd.read_csv(hospital_beds_2012_csv_file)
hospital_beds_2012_csv_file_df.head()

   Year    Location  State/Local Government  Non-Profit  For-Profit  Total
0  2012     Alabama                     1.4         0.8         0.8    3.1
1  2012      Alaska                     0.3         1.5         0.3    2.1
2  2012     Arizona                     0.1         1.6         0.4    2.1
3  2012    Arkansas                     0.3         2.1         0.8    3.2
4  2012  California                     0.3         1.2         0.3    1.9

In [6]:
# import 2013 hospital beds by ownership types; test results in 1,000 populations
hospital_beds_2013_csv_file = "data/2013_hospital_1000population_beds_ownership_type.csv"
hospital_beds_2013_csv_file_df = pd.read_csv(hospital_beds_2013_csv_file)
hospital_beds_2013_csv_file_df.head()

   Year    Location  State/Local Government  Non-Profit  For-Profit  Total
0  2013     Alabama                     1.5         0.9         0.8    3.1
1  2013      Alaska                     0.3         1.6         0.3    2.1
2  2013     Arizona                     0.1         1.5         0.4    2.0
3  2013    Arkansas                     0.3         2.1         0.8    3.2
4  2013  California                     0.3         1.2         0.3    1.8

In [7]:
# import 2014 hospital beds by ownership types; test results in 1,000 populations
hospital_beds_2014_csv_file = "data/2014_hospital_1000population_beds_ownership_type.csv"
hospital_beds_2014_csv_file_df = pd.read_csv(hospital_beds_2014_csv_file)
hospital_beds_2014_csv_file_df.head()

   Year    Location  State/Local Government  Non-Profit  For-Profit  Total
0  2014     Alabama                     1.6         0.8         0.8    3.1
1  2014      Alaska                     0.3         1.6         0.3    2.2
2  2014     Arizona                     0.1         1.5         0.4    2.0
3  2014    Arkansas                     0.3         2.1         0.7    3.1
4  2014  California                     0.3         1.2         0.3    1.8

In [8]:
# import 2015 hospital beds by ownership types; test results in 1,000 populations
hospital_beds_2015_csv_file = "data/2015_hospital_1000population_beds_ownership_type.csv"
hospital_beds_2015_csv_file_df = pd.read_csv(hospital_beds_2015_csv_file)
hospital_beds_2015_csv_file_df.head()

   Year    Location  State/Local Government  Non-Profit  For-Profit  Total
0  2015     Alabama                     1.5         0.6         0.9    3.0
1  2015      Alaska                     0.3         1.5         0.4    2.2
2  2015     Arizona                     0.1         1.5         0.4    2.0
3  2015    Arkansas                     0.3         2.2         0.7    3.2
4  2015  California                     0.3         1.2         0.3    1.8

# Clean the data sources

In [9]:
# big_cities_csv_file = "data/Big_Cities_Health_Data_Inventory.csv"
# big_cities_health_df = pd.read_csv(big_cities_csv_file)
# big_cities_health_df.head()

health_cities = big_cities_health_df[['Year', 'Indicator Category', 'Indicator', 'Gender', 'Race/ Ethnicity', 'Value', 'Place']]
# health_cities.head()

# rename the big health data in cities 
new_health_cities = health_cities.rename(columns={'Year':'year',
                                                 'Indicator Category':'indicator_category',
                                                 'Indicator':'indicator',
                                                 'Gender':'gender',
                                                 'Race/ Ethnicity':'race_ethnicity',
                                                 'Value':'population_rate',
                                                 'Place':'city_state'})
new_health_cities.head()

,year,indicator_category,indicator,gender,race_ethnicity,population_rate,city_state
0,2013,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,30.4,"Atlanta (Fulton County), GA"
1,2012,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,39.6,"Atlanta (Fulton County), GA"
2,2011,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,41.7,"Atlanta (Fulton County), GA"
3,2013,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,Male,All,195.8,"Atlanta (Fulton County), GA"
4,2013,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,Female,All,135.5,"Atlanta (Fulton County), GA"

In [10]:
# split the city and the state
new_health_cities[['city','state']] = new_health_cities.city_state.str.split(expand=True, pat=",")
new_health_cities.head()

,year,indicator_category,indicator,gender,race_ethnicity,population_rate,city_state,city,state
0,2013,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,30.4,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA
1,2012,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,39.6,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA
2,2011,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,41.7,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA
3,2013,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,Male,All,195.8,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA
4,2013,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,Female,All,135.5,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA

In [11]:
# drop the city_state and city columns for cleaner look
new_health_cities_df = new_health_cities.drop(columns=['city_state', 'city'])
new_health_cities_df

,year,indicator_category,indicator,gender,race_ethnicity,population_rate,state
0,2013,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,30.4,GA
1,2012,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,39.6,GA
2,2011,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,41.7,GA
3,2013,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,Male,All,195.8,GA
4,2013,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,Female,All,135.5,GA
...,...,...,...,...,...,...,...
13507,2013,Food Safety,Rate of Laboratory Confirmed Infections Caused...,Female,All,14.3,MO
13508,2013,Food Safety,Rate of Laboratory Confirmed Infections Caused...,Male,All,6.2,MO
13509,2014,Food Safety,Rate of Laboratory Confirmed Infections Caused...,Both,All,12.7,MO
13510,2014,Food Safety,Rate of Laboratory Confirmed Infections Caused...,Female,All,13.3,MO
13511,2014,Food Safety,Rate of Laboratory Confirmed Infections Caused...,Male,All,12.0,MO

In [12]:
ordered_health_data = new_health_cities_df.sort_values("year", ascending=True)
ordered_health_data

,year,indicator_category,indicator,gender,race_ethnicity,population_rate,state
1280,2003-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,IL
50,2003-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,GA
5526,2003-2013,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,FL
8176,2004-2013,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,AZ
2240,2007-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Male,All,75.7,CO
...,...,...,...,...,...,...,...
13345,2015,Infectious Disease,Percent of Adults Who Received Seasonal Flu Shot,Both,All,42.1,CA
13258,2015,Behavioral Health/Substance Abuse,Percent of Adults Who Binge Drank,Both,All,18.7,CA
13228,2015,Tobacco,Percent of Adults Who Currently Smoke,Both,All,15.5,CA
13324,2015,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Meet CDC-Recommended Phy...,Both,All,32.1,CA
13354,2015,Infectious Disease,Percent of Adults Over Age 65 Who Received Pne...,Both,All,59.0,CA

In [13]:
# split the year min.year and max.year of the data
# new_health_cities[['year']] = new_health_cities.year.str.split(expand=True, pat="-")

ordered_health_data[['Year1','Year2']] = ordered_health_data['year'].str.split('-',expand=True)
ordered_health_data

,year,indicator_category,indicator,gender,race_ethnicity,population_rate,state,Year1,Year2
1280,2003-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,IL,2003,2012
50,2003-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,GA,2003,2012
5526,2003-2013,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,FL,2003,2013
8176,2004-2013,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,AZ,2004,2013
2240,2007-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Male,All,75.7,CO,2007,2012
...,...,...,...,...,...,...,...,...,...
13345,2015,Infectious Disease,Percent of Adults Who Received Seasonal Flu Shot,Both,All,42.1,CA,2015,None
13258,2015,Behavioral Health/Substance Abuse,Percent of Adults Who Binge Drank,Both,All,18.7,CA,2015,None
13228,2015,Tobacco,Percent of Adults Who Currently Smoke,Both,All,15.5,CA,2015,None
13324,2015,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Meet CDC-Recommended Phy...,Both,All,32.1,CA,2015,None
13354,2015,Infectious Disease,Percent of Adults Over Age 65 Who Received Pne...,Both,All,59.0,CA,2015,None

In [14]:
# end of the data set 
ordered_health_data.tail()

,year,indicator_category,indicator,gender,race_ethnicity,population_rate,state,Year1,Year2
13345,2015,Infectious Disease,Percent of Adults Who Received Seasonal Flu Shot,Both,All,42.1,CA,2015,None
13258,2015,Behavioral Health/Substance Abuse,Percent of Adults Who Binge Drank,Both,All,18.7,CA,2015,None
13228,2015,Tobacco,Percent of Adults Who Currently Smoke,Both,All,15.5,CA,2015,None
13324,2015,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Meet CDC-Recommended Phy...,Both,All,32.1,CA,2015,None
13354,2015,Infectious Disease,Percent of Adults Over Age 65 Who Received Pne...,Both,All,59.0,CA,2015,None

In [15]:
import numpy as np
ordered_health_data['Max_Year'] = np.where((ordered_health_data['Year2'].isnull()), 
                                           ordered_health_data['Year1'], ordered_health_data['Year2'])
ordered_health_data

,year,indicator_category,indicator,gender,race_ethnicity,population_rate,state,Year1,Year2,Max_Year
1280,2003-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,IL,2003,2012,2012
50,2003-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,GA,2003,2012,2012
5526,2003-2013,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,FL,2003,2013,2013
8176,2004-2013,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,AZ,2004,2013,2013
2240,2007-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Male,All,75.7,CO,2007,2012,2012
...,...,...,...,...,...,...,...,...,...,...
13345,2015,Infectious Disease,Percent of Adults Who Received Seasonal Flu Shot,Both,All,42.1,CA,2015,None,2015
13258,2015,Behavioral Health/Substance Abuse,Percent of Adults Who Binge Drank,Both,All,18.7,CA,2015,None,2015
13228,2015,Tobacco,Percent of Adults Who Currently Smoke,Both,All,15.5,CA,2015,None,2015
13324,2015,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Meet CDC-Recommended Phy...,Both,All,32.1,CA,2015,None,2015
13354,2015,Infectious Disease,Percent of Adults Over Age 65 Who Received Pne...,Both,All,59.0,CA,2015,None,2015

In [16]:
new_ordered_health_data = ordered_health_data.drop(columns=['year', 'Year1', 'Year2'])
new_ordered_health_data.head(20)

,indicator_category,indicator,gender,race_ethnicity,population_rate,state,Max_Year
1280,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,IL,2012
50,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,GA,2012
5526,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,FL,2013
8176,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,AZ,2013
2240,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Male,All,75.7,CO,2012
2241,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Female,All,81.5,CO,2012
2242,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.6,CO,2012
732,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Female,All,82.8,MA,2012
734,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,Asian/PI,87.2,MA,2012
731,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Male,All,77.1,MA,2012
735,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,Black,77.0,MA,2012
736,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,Hispanic,86.4,MA,2012
737,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,White,79.5,MA,2012
733,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.1,MA,2012
1050,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,Both,Black,244.8,IL,2010
7984,Cancer,Female Breast Cancer Mortality Rate (Age-Adjus...,Female,Multiracial,0.0,AZ,2010
7908,"Nutrition, Physical Activity, & Obesity",Diabetes Mortality Rate (Age-Adjusted; Per 100...,Both,Asian/PI,11.4,AZ,2010
7988,Cancer,Female Breast Cancer Mortality Rate (Age-Adjus...,Female,Native American,6.3,AZ,2010
1785,Food Safety,Rate of Laboratory Confirmed Infections Caused...,Male,All,11.0,OH,2010
7991,Cancer,Female Breast Cancer Mortality Rate (Age-Adjus...,Female,Other,0.7,AZ,2010

In [17]:
city_data = new_ordered_health_data.rename(columns={'Max_Year':'year'})
city_data.head()

,indicator_category,indicator,gender,race_ethnicity,population_rate,state,year
1280,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,IL,2012
50,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,GA,2012
5526,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,FL,2013
8176,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,AZ,2013
2240,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Male,All,75.7,CO,2012

In [18]:
# sort by year in ascending order
sort_city_data = city_data.sort_values(by='year',ascending=True)

In [19]:
# display final data chart 
sort_city_data

,indicator_category,indicator,gender,race_ethnicity,population_rate,state,year
639,Injury and Violence,Firearm Related Mortality Rate (Age-Adjusted; ...,Female,All,1.4,MA,2010
10136,"Nutrition, Physical Activity, & Obesity",Diabetes Mortality Rate (Age-Adjusted; Per 100...,Both,Asian/PI,18.6,CA,2010
11511,Tobacco,Percent of High School Students Who Currently ...,Male,All,14.0,WA,2010
5611,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Both,Black,38.2,FL,2010
392,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Male,All,25.1,MD,2010
...,...,...,...,...,...,...,...
13306,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Both,All,26.2,CA,2015
13345,Infectious Disease,Percent of Adults Who Received Seasonal Flu Shot,Both,All,42.1,CA,2015
13258,Behavioral Health/Substance Abuse,Percent of Adults Who Binge Drank,Both,All,18.7,CA,2015
13228,Tobacco,Percent of Adults Who Currently Smoke,Both,All,15.5,CA,2015
13354,Infectious Disease,Percent of Adults Over Age 65 Who Received Pne...,Both,All,59.0,CA,2015

In [20]:
# save this data in csv file as 'new_health_data.csv'
sort_city_data.to_csv(r'D:\Github\Project-2-ETL-Cities-Health-Data\data\new_health_data.csv', index=False)

# rename the tables for 2010

In [21]:
beds_2010 = hospital_beds_2010_csv_file_df[['Year','Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
beds_2010.head()

# rename each labels with year 2010
new_beds_2010 = beds_2010.rename(columns={'Year':'year',
                                          'Location':'state',
                                         'State/Local Government':'state_local_2010',
                                         'Non-Profit':'nonprofit_2010',
                                         'For-Profit':'profit_2010'})
new_beds_2010.head()

   year       state  state_local_2010  nonprofit_2010  profit_2010
0  2010     Alabama               1.5             0.8          0.9
1  2010      Alaska               0.3             1.5          0.3
2  2010     Arizona               0.1             1.6          0.4
3  2010    Arkansas               0.4             2.1          0.8
4  2010  California               0.3             1.2          0.3

# rename the tables for 2011

In [22]:
beds_2011 = hospital_beds_2011_csv_file_df[['Year','Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# beds_2010.head()

# rename each labels with year 2011
new_beds_2011 = beds_2011.rename(columns={'Year':'year',
                                          'Location':'state',
                                         'State/Local Government':'state_local_2011',
                                         'Non-Profit':'nonprofit_2011',
                                         'For-Profit':'profit_2011'})
new_beds_2011.head()

   year       state  state_local_2011  nonprofit_2011  profit_2011
0  2011     Alabama               1.5             0.9          0.9
1  2011      Alaska               0.3             1.6          0.3
2  2011     Arizona               0.1             1.6          0.3
3  2011    Arkansas               0.3             2.1          0.8
4  2011  California               0.3             1.2          0.3

# rename the tables for 2012

In [23]:
beds_2012 = hospital_beds_2012_csv_file_df[['Year','Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# beds_2010.head()

# rename each labels with year 2012
new_beds_2012 = beds_2012.rename(columns={'Year':'year',
                                          'Location':'state',
                                         'State/Local Government':'state_local_2012',
                                         'Non-Profit':'nonprofit_2012',
                                         'For-Profit':'profit_2012'})
new_beds_2012.head()

   year       state  state_local_2012  nonprofit_2012  profit_2012
0  2012     Alabama               1.4             0.8          0.8
1  2012      Alaska               0.3             1.5          0.3
2  2012     Arizona               0.1             1.6          0.4
3  2012    Arkansas               0.3             2.1          0.8
4  2012  California               0.3             1.2          0.3

# rename the tables for 2013

In [24]:
beds_2013 = hospital_beds_2013_csv_file_df[['Year','Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# beds_2010.head()

# rename each labels with year 2013
new_beds_2013 = beds_2013.rename(columns={'Year':'year',
                                          'Location':'state',
                                         'State/Local Government':'state_local_2013',
                                         'Non-Profit':'nonprofit_2013',
                                         'For-Profit':'profit_2013'})
new_beds_2013.head()

   year       state  state_local_2013  nonprofit_2013  profit_2013
0  2013     Alabama               1.5             0.9          0.8
1  2013      Alaska               0.3             1.6          0.3
2  2013     Arizona               0.1             1.5          0.4
3  2013    Arkansas               0.3             2.1          0.8
4  2013  California               0.3             1.2          0.3

# rename the tables for 2014

In [25]:
beds_2014 = hospital_beds_2014_csv_file_df[['Year','Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# beds_2010.head()

# rename each labels with year 2013
new_beds_2014 = beds_2014.rename(columns={'Year':'year',
                                          'Location':'state',
                                         'State/Local Government':'state_local_2014',
                                         'Non-Profit':'nonprofit_2014',
                                         'For-Profit':'profit_2014'})
new_beds_2014.head()

   year       state  state_local_2014  nonprofit_2014  profit_2014
0  2014     Alabama               1.6             0.8          0.8
1  2014      Alaska               0.3             1.6          0.3
2  2014     Arizona               0.1             1.5          0.4
3  2014    Arkansas               0.3             2.1          0.7
4  2014  California               0.3             1.2          0.3

# rename the tables for 2015

In [26]:
beds_2015 = hospital_beds_2015_csv_file_df[['Year','Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# beds_2010.head()

# rename each labels with year 2015
new_beds_2015 = beds_2015.rename(columns={'Year':'year',
                                          'Location':'state',
                                         'State/Local Government':'state_local_2015',
                                         'Non-Profit':'nonprofit_2015',
                                         'For-Profit':'profit_2015'})
new_beds_2015.head()

   year       state  state_local_2015  nonprofit_2015  profit_2015
0  2015     Alabama               1.5             0.6          0.9
1  2015      Alaska               0.3             1.5          0.4
2  2015     Arizona               0.1             1.5          0.4
3  2015    Arkansas               0.3             2.2          0.7
4  2015  California               0.3             1.2          0.3

# Loading the data

In [27]:
from pin import password

rds_connection_string = (f"postgres:{password}@localhost:5432/healthcities_db")
engine = create_engine(f'postgresql://{rds_connection_string}')

# Check the table names

In [28]:
engine.table_names()

['hospital_data_2015',
 'health_cities',
 'hospital_data_2010',
 'hospital_data_2011',
 'hospital_data_2012',
 'hospital_data_2013',
 'hospital_data_2014']

In [29]:
# Use pandas to load csv converted DataFrame into database
sort_city_data.to_sql(name='health_cities', con=engine, if_exists='append', index=False)

In [30]:
new_beds_2010.to_sql(name='hospital_data_2010', con=engine, if_exists='append', index=False)

In [31]:
new_beds_2011.to_sql(name='hospital_data_2011', con=engine, if_exists='append', index=False)

In [32]:
new_beds_2012.to_sql(name='hospital_data_2012', con=engine, if_exists='append', index=False)

In [33]:
new_beds_2013.to_sql(name='hospital_data_2013', con=engine, if_exists='append', index=False)

In [34]:
new_beds_2014.to_sql(name='hospital_data_2014', con=engine, if_exists='append', index=False)

In [35]:
new_beds_2015.to_sql(name='hospital_data_2015', con=engine, if_exists='append', index=False)

# Confirm data has been added by querying the health_cities table

In [39]:
health_cities = pd.read_sql_query('SELECT * FROM health_cities', con=engine)
health_cities.head()

,year,indicator_category,indicator,gender,race_ethnicity,population_rate,state
0,2010,Injury and Violence,Firearm Related Mortality Rate (Age-Adjusted; ...,Female,All,1.0,MA
1,2010,"Nutrition, Physical Activity, & Obesity",Diabetes Mortality Rate (Age-Adjusted; Per 100...,Both,Asian/PI,19.0,CA
2,2010,Tobacco,Percent of High School Students Who Currently ...,Male,All,14.0,WA
3,2010,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Both,Black,38.0,FL
4,2010,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Male,All,25.0,MD

In [38]:
hospitals_2010 = pd.read_sql_query('SELECT * FROM hospital_data_2010', con=engine)
hospitals_2010.head()

   year       state  state_local_2010  nonprofit_2010  profit_2010
0  2010     Alabama               2.0               1          1.0
1  2010      Alaska               0.0               2          0.0
2  2010     Arizona               0.0               2          0.0
3  2010    Arkansas               0.0               2          1.0
4  2010  California               0.0               1          0.0

In [40]:
hospitals_2011 = pd.read_sql_query('SELECT * FROM hospital_data_2011', con=engine)
hospitals_2011.head()

   year       state  state_local_2011  nonprofit_2011  profit_2011
0  2011     Alabama               2.0               1          1.0
1  2011      Alaska               0.0               2          0.0
2  2011     Arizona               0.0               2          0.0
3  2011    Arkansas               0.0               2          1.0
4  2011  California               0.0               1          0.0

In [41]:
hospitals_2012 = pd.read_sql_query('SELECT * FROM hospital_data_2012', con=engine)
hospitals_2012.head()

   year       state  state_local_2012  nonprofit_2012  profit_2012
0  2012     Alabama               1.0               1          1.0
1  2012      Alaska               0.0               2          0.0
2  2012     Arizona               0.0               2          0.0
3  2012    Arkansas               0.0               2          1.0
4  2012  California               0.0               1          0.0

In [42]:
hospitals_2013 = pd.read_sql_query('SELECT * FROM hospital_data_2013', con=engine)
hospitals_2013.head()

   year       state  state_local_2013  nonprofit_2013  profit_2013
0  2013     Alabama               2.0               1          1.0
1  2013      Alaska               0.0               2          0.0
2  2013     Arizona               0.0               2          0.0
3  2013    Arkansas               0.0               2          1.0
4  2013  California               0.0               1          0.0

In [43]:
hospitals_2014 = pd.read_sql_query('SELECT * FROM hospital_data_2014', con=engine)
hospitals_2014.head()

   year       state  state_local_2014  nonprofit_2014  profit_2014
0  2014     Alabama               2.0               1          1.0
1  2014      Alaska               0.0               2          0.0
2  2014     Arizona               0.0               2          0.0
3  2014    Arkansas               0.0               2          1.0
4  2014  California               0.0               1          0.0

In [44]:
hospitals_2015 = pd.read_sql_query('SELECT * FROM hospital_data_2015', con=engine)
hospitals_2015.head()

   year       state  state_local_2015  nonprofit_2015  profit_2015
0  2015     Alabama               2.0               1          1.0
1  2015      Alaska               0.0               2          0.0
2  2015     Arizona               0.0               2          0.0
3  2015    Arkansas               0.0               2          1.0
4  2015  California               0.0               1          0.0

# Merging the data together

In [ ]:
# Joining year tables first 
SELECT customer_name.id, customer_name.first_name, customer_name.last_name, customer_location.address, customer_location.us_state
FROM customer_name
JOIN customer_location
ON customer_name.id = customer_location.id;

# Check the data if it's correctly merged together