In [26]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

# 1. Store .csv files into dataframe individually

In [27]:
# import .csv into dataframe of big cities health data
# organized the big cities health data in the excel sheet 
big_cities_csv_file = "data/Big_Cities_Health_Data_Inventory.csv"
big_cities_health_df = pd.read_csv(big_cities_csv_file)
big_cities_health_df.head()

,Indicator Category,Indicator,Year,Gender,Race/ Ethnicity,Value,Place,BCHC Requested Methodology,Source,Methods,Notes
0,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2013,Both,All,30.4,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
1,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2012,Both,All,39.6,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
2,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2011,Both,All,41.7,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
3,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Male,All,195.8,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN
4,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Female,All,135.5,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN

In [28]:
# import 2010 hospital beds by ownership types; test results in 1,000 populations
# added a year for each hospital dataset manually in the excel worksheet, since these are pretty small data
hospital_beds_2010_csv_file = "data/2010_hospital_1000population_beds_ownership_type.csv"
df_2010 = pd.read_csv(hospital_beds_2010_csv_file)
df_2010.head()

   Year    Location  State/Local Government  Non-Profit  For-Profit  Total
0  2010     Alabama                     1.5         0.8         0.9    3.2
1  2010      Alaska                     0.3         1.5         0.3    2.2
2  2010     Arizona                     0.1         1.6         0.4    2.1
3  2010    Arkansas                     0.4         2.1         0.8    3.2
4  2010  California                     0.3         1.2         0.3    1.9

In [29]:
# import 2011 hospital beds by ownership types; test results in 1,000 populations
# added a year for each hospital dataset manually in the excel worksheet, since these are pretty small data
hospital_beds_2011_csv_file = "data/2011_hospital_1000population_beds_ownership_type.csv"
df_2011 = pd.read_csv(hospital_beds_2011_csv_file)
df_2011.head()

   Year    Location  State/Local Government  Non-Profit  For-Profit  Total
0  2011     Alabama                     1.5         0.9         0.9    3.2
1  2011      Alaska                     0.3         1.6         0.3    2.1
2  2011     Arizona                     0.1         1.6         0.3    2.1
3  2011    Arkansas                     0.3         2.1         0.8    3.2
4  2011  California                     0.3         1.2         0.3    1.9

In [30]:
# import 2012 hospital beds by ownership types; test results in 1,000 populations
# added a year for each hospital dataset manually in the excel worksheet, since these are pretty small data
hospital_beds_2012_csv_file = "data/2012_hospital_1000population_beds_ownership_type.csv"
df_2012 = pd.read_csv(hospital_beds_2012_csv_file)
df_2012.head()

   Year    Location  State/Local Government  Non-Profit  For-Profit  Total
0  2012     Alabama                     1.4         0.8         0.8    3.1
1  2012      Alaska                     0.3         1.5         0.3    2.1
2  2012     Arizona                     0.1         1.6         0.4    2.1
3  2012    Arkansas                     0.3         2.1         0.8    3.2
4  2012  California                     0.3         1.2         0.3    1.9

In [31]:
# import 2013 hospital beds by ownership types; test results in 1,000 populations
# added a year for each hospital dataset manually in the excel worksheet, since these are pretty small data
hospital_beds_2013_csv_file = "data/2013_hospital_1000population_beds_ownership_type.csv"
df_2013 = pd.read_csv(hospital_beds_2013_csv_file)
df_2013.head()

   Year    Location  State/Local Government  Non-Profit  For-Profit  Total
0  2013     Alabama                     1.5         0.9         0.8    3.1
1  2013      Alaska                     0.3         1.6         0.3    2.1
2  2013     Arizona                     0.1         1.5         0.4    2.0
3  2013    Arkansas                     0.3         2.1         0.8    3.2
4  2013  California                     0.3         1.2         0.3    1.8

In [32]:
# import 2014 hospital beds by ownership types; test results in 1,000 populations
# added a year for each hospital dataset manually in the excel worksheet, since these are pretty small data
hospital_beds_2014_csv_file = "data/2014_hospital_1000population_beds_ownership_type.csv"
df_2014 = pd.read_csv(hospital_beds_2014_csv_file)
df_2014.head()

   Year    Location  State/Local Government  Non-Profit  For-Profit  Total
0  2014     Alabama                     1.6         0.8         0.8    3.1
1  2014      Alaska                     0.3         1.6         0.3    2.2
2  2014     Arizona                     0.1         1.5         0.4    2.0
3  2014    Arkansas                     0.3         2.1         0.7    3.1
4  2014  California                     0.3         1.2         0.3    1.8

In [33]:
# import 2015 hospital beds by ownership types; test results in 1,000 populations
# added a year for each hospital dataset manually in the excel worksheet, since these are pretty small data
hospital_beds_2015_csv_file = "data/2015_hospital_1000population_beds_ownership_type.csv"
df_2015 = pd.read_csv(hospital_beds_2015_csv_file)
df_2015.head()

   Year    Location  State/Local Government  Non-Profit  For-Profit  Total
0  2015     Alabama                     1.5         0.6         0.9    3.0
1  2015      Alaska                     0.3         1.5         0.4    2.2
2  2015     Arizona                     0.1         1.5         0.4    2.0
3  2015    Arkansas                     0.3         2.2         0.7    3.2
4  2015  California                     0.3         1.2         0.3    1.8

In [34]:
# check the rows of the hospital data for year 2010, 2011, 2012, 2013, 2014, 2015 dataframe, they should have 51 rows for each state.
df_2015.shape

(51, 6)

In [35]:
df_2014.shape

(51, 6)

In [36]:
df_2013.shape

(51, 6)

In [37]:
df_2012.shape

(51, 6)

In [38]:
df_2011.shape

(51, 6)

In [39]:
df_2010.shape

(51, 6)

In [40]:
# combine all hospital data by years
hosp_df=pd.concat([df_2010,df_2011,df_2012,df_2013,df_2014,df_2015], axis=0)
hosp_df.head()

   Year    Location  State/Local Government  Non-Profit  For-Profit  Total
0  2010     Alabama                     1.5         0.8         0.9    3.2
1  2010      Alaska                     0.3         1.5         0.3    2.2
2  2010     Arizona                     0.1         1.6         0.4    2.1
3  2010    Arkansas                     0.4         2.1         0.8    3.2
4  2010  California                     0.3         1.2         0.3    1.9

In [41]:
# check the rows again to be make sure we get the combined data of the year and state of hospital data.
hosp_df.shape

(306, 6)

# 2. Extract the data sources

## A. cleaning the Big Cities Health Data for year and state; plus, any information that needs to be cleaned out before loading into the sql database

In [42]:
# for references of created dataframe for big cities health data: 

# big_cities_csv_file = "data/Big_Cities_Health_Data_Inventory.csv"
# big_cities_health_df = pd.read_csv(big_cities_csv_file)
# big_cities_health_df.head()

# Extract information of the cities data by year, category, indicator, gender, race/ethnicity, value, place
health_cities = big_cities_health_df[['Year', 'Indicator Category', 'Indicator', 'Gender', 'Race/ Ethnicity', 'Value', 'Place']]
# health_cities.head()

# rename the big health data in cities and correct them in relation to the information they given 
new_health_cities = health_cities.rename(columns={'Year':'year',
                                                 'Indicator Category':'category',
                                                 'Indicator':'cause_of_death',
                                                 'Gender':'gender',
                                                 'Race/ Ethnicity':'race_ethnicity',
                                                 'Value':'death_rate',
                                                 'Place':'city_state'})
new_health_cities.head()

,year,category,cause_of_death,gender,race_ethnicity,death_rate,city_state
0,2013,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,30.4,"Atlanta (Fulton County), GA"
1,2012,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,39.6,"Atlanta (Fulton County), GA"
2,2011,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,41.7,"Atlanta (Fulton County), GA"
3,2013,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,Male,All,195.8,"Atlanta (Fulton County), GA"
4,2013,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,Female,All,135.5,"Atlanta (Fulton County), GA"

In [43]:
# split the city and the state
new_health_cities[['city','state']] = new_health_cities.city_state.str.split(expand=True, pat=",")
new_health_cities.head()

,year,category,cause_of_death,gender,race_ethnicity,death_rate,city_state,city,state
0,2013,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,30.4,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA
1,2012,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,39.6,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA
2,2011,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,41.7,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA
3,2013,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,Male,All,195.8,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA
4,2013,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,Female,All,135.5,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA

In [44]:
# drop the city_state and city columns for cleaner look
new_health_cities_df = new_health_cities.drop(columns=['city_state', 'city'])
new_health_cities_df.head()

,year,category,cause_of_death,gender,race_ethnicity,death_rate,state
0,2013,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,30.4,GA
1,2012,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,39.6,GA
2,2011,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",Both,All,41.7,GA
3,2013,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,Male,All,195.8,GA
4,2013,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,Female,All,135.5,GA

In [45]:
ordered_health_data = new_health_cities_df.sort_values("year", ascending=True)
ordered_health_data.head()

,year,category,cause_of_death,gender,race_ethnicity,death_rate,state
1280,2003-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,IL
50,2003-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,GA
5526,2003-2013,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,FL
8176,2004-2013,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,AZ
2240,2007-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Male,All,75.7,CO

In [46]:
ordered_health_data.shape

(13512, 7)

In [47]:
# split the year min.year and max.year of the data for the year included '-' 

# previous city health dataframe working on
# new_health_cities[['year']] = new_health_cities.year.str.split(expand=True, pat="-")

# new city dataframe we worked on
ordered_health_data[['Year1','Year2']] = ordered_health_data['year'].str.split('-',expand=True)
ordered_health_data.head()

,year,category,cause_of_death,gender,race_ethnicity,death_rate,state,Year1,Year2
1280,2003-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,IL,2003,2012
50,2003-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,GA,2003,2012
5526,2003-2013,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,FL,2003,2013
8176,2004-2013,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,AZ,2004,2013
2240,2007-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Male,All,75.7,CO,2007,2012

In [48]:
# end of the city data set 
ordered_health_data.tail()

,year,category,cause_of_death,gender,race_ethnicity,death_rate,state,Year1,Year2
13345,2015,Infectious Disease,Percent of Adults Who Received Seasonal Flu Shot,Both,All,42.1,CA,2015,None
13258,2015,Behavioral Health/Substance Abuse,Percent of Adults Who Binge Drank,Both,All,18.7,CA,2015,None
13228,2015,Tobacco,Percent of Adults Who Currently Smoke,Both,All,15.5,CA,2015,None
13324,2015,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Meet CDC-Recommended Phy...,Both,All,32.1,CA,2015,None
13354,2015,Infectious Disease,Percent of Adults Over Age 65 Who Received Pne...,Both,All,59.0,CA,2015,None

In [50]:
# check the city data rows to make sure we don't lose any information 
ordered_health_data.shape

(13512, 9)

In [51]:
# store the extracted years in previous steps into max year
ordered_health_data['Max_Year'] = np.where((ordered_health_data['Year2'].isnull()), 
                                           ordered_health_data['Year1'], ordered_health_data['Year2'])
ordered_health_data.head()

,year,category,cause_of_death,gender,race_ethnicity,death_rate,state,Year1,Year2,Max_Year
1280,2003-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,IL,2003,2012,2012
50,2003-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,GA,2003,2012,2012
5526,2003-2013,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,FL,2003,2013,2013
8176,2004-2013,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,AZ,2004,2013,2013
2240,2007-2012,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Male,All,75.7,CO,2007,2012,2012

In [52]:
ordered_health_data.tail()

,year,category,cause_of_death,gender,race_ethnicity,death_rate,state,Year1,Year2,Max_Year
13345,2015,Infectious Disease,Percent of Adults Who Received Seasonal Flu Shot,Both,All,42.1,CA,2015,None,2015
13258,2015,Behavioral Health/Substance Abuse,Percent of Adults Who Binge Drank,Both,All,18.7,CA,2015,None,2015
13228,2015,Tobacco,Percent of Adults Who Currently Smoke,Both,All,15.5,CA,2015,None,2015
13324,2015,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Meet CDC-Recommended Phy...,Both,All,32.1,CA,2015,None,2015
13354,2015,Infectious Disease,Percent of Adults Over Age 65 Who Received Pne...,Both,All,59.0,CA,2015,None,2015

In [53]:
# drop the unnecessary year data in the city dataframe
new_ordered_health_data = ordered_health_data.drop(columns=['year', 'Year1', 'Year2'])
new_ordered_health_data.head()

,category,cause_of_death,gender,race_ethnicity,death_rate,state,Max_Year
1280,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,IL,2012
50,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,GA,2012
5526,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,FL,2013
8176,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,AZ,2013
2240,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Male,All,75.7,CO,2012

In [54]:
# check rows once again
new_ordered_health_data.shape

(13512, 7)

In [55]:
# rename the max year into year to be constant with other dataframe which it will be joined together at the end
city_data = new_ordered_health_data.rename(columns={'Max_Year':'year'})
city_data.head()

,category,cause_of_death,gender,race_ethnicity,death_rate,state,year
1280,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,IL,2012
50,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,78.0,GA,2012
5526,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,FL,2013
8176,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Both,All,80.0,AZ,2013
2240,Life Expectancy and Death Rate (Overall),Life Expectancy at Birth (Years),Male,All,75.7,CO,2012

In [56]:
city_data.tail()

,category,cause_of_death,gender,race_ethnicity,death_rate,state,year
13345,Infectious Disease,Percent of Adults Who Received Seasonal Flu Shot,Both,All,42.1,CA,2015
13258,Behavioral Health/Substance Abuse,Percent of Adults Who Binge Drank,Both,All,18.7,CA,2015
13228,Tobacco,Percent of Adults Who Currently Smoke,Both,All,15.5,CA,2015
13324,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Meet CDC-Recommended Phy...,Both,All,32.1,CA,2015
13354,Infectious Disease,Percent of Adults Over Age 65 Who Received Pne...,Both,All,59.0,CA,2015

In [57]:
# sort by year in ascending order in city data
sort_city_data = city_data.sort_values(by='year',ascending=True, inplace=False)
sort_city_data

,category,cause_of_death,gender,race_ethnicity,death_rate,state,year
639,Injury and Violence,Firearm Related Mortality Rate (Age-Adjusted; ...,Female,All,1.4,MA,2010
10136,"Nutrition, Physical Activity, & Obesity",Diabetes Mortality Rate (Age-Adjusted; Per 100...,Both,Asian/PI,18.6,CA,2010
11511,Tobacco,Percent of High School Students Who Currently ...,Male,All,14.0,WA,2010
5611,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Both,Black,38.2,FL,2010
392,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Male,All,25.1,MD,2010
...,...,...,...,...,...,...,...
13306,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Both,All,26.2,CA,2015
13345,Infectious Disease,Percent of Adults Who Received Seasonal Flu Shot,Both,All,42.1,CA,2015
13258,Behavioral Health/Substance Abuse,Percent of Adults Who Binge Drank,Both,All,18.7,CA,2015
13228,Tobacco,Percent of Adults Who Currently Smoke,Both,All,15.5,CA,2015
13354,Infectious Disease,Percent of Adults Over Age 65 Who Received Pne...,Both,All,59.0,CA,2015

In [58]:
# save this data in csv file as 'new_health_data.csv'
sort_city_data.to_csv(r'D:\Github\Project-2-ETL-Cities-Health-Data\data\new_health_data.csv', index=True)

## B. cleaning the hospital beds data for year and state; plus any necessary data that needs to be cleaned, such as null values

In [59]:
# show hospital bed rate in dataframe structure that we made earlier 
hosp_df.head()

   Year    Location  State/Local Government  Non-Profit  For-Profit  Total
0  2010     Alabama                     1.5         0.8         0.9    3.2
1  2010      Alaska                     0.3         1.5         0.3    2.2
2  2010     Arizona                     0.1         1.6         0.4    2.1
3  2010    Arkansas                     0.4         2.1         0.8    3.2
4  2010  California                     0.3         1.2         0.3    1.9

In [61]:
hosp_df.tail()

    Year       Location  State/Local Government  Non-Profit  For-Profit  Total
46  2015       Virginia                     0.2         1.5         0.4    2.1
47  2015     Washington                     0.4         1.1         0.2    1.7
48  2015  West Virginia                     0.3         2.7         0.7    3.7
49  2015      Wisconsin                     0.0         2.1         0.1    2.2
50  2015        Wyoming                     2.2         0.7         0.2    3.1

In [62]:
# check the rows if it's matching same as earlier after joining them together
hosp_df.shape

(306, 6)

In [63]:
# rename each columns for hospital bed data for each year and state, state local gov, non-profit, for-profit, and total
new_hosp_df = hosp_df.rename(columns={'Year':'year', 'Location':'state',
                              'State/Local Government':'state_local_gov',
                              'Non-Profit':'non_profit',
                              'For-Profit':'profit',
                              'Total':'total'})
new_hosp_df.head()

   year       state  state_local_gov  non_profit  profit  total
0  2010     Alabama              1.5         0.8     0.9    3.2
1  2010      Alaska              0.3         1.5     0.3    2.2
2  2010     Arizona              0.1         1.6     0.4    2.1
3  2010    Arkansas              0.4         2.1     0.8    3.2
4  2010  California              0.3         1.2     0.3    1.9

In [64]:
new_hosp_df.tail()

    year          state  state_local_gov  non_profit  profit  total
46  2015       Virginia              0.2         1.5     0.4    2.1
47  2015     Washington              0.4         1.1     0.2    1.7
48  2015  West Virginia              0.3         2.7     0.7    3.7
49  2015      Wisconsin              0.0         2.1     0.1    2.2
50  2015        Wyoming              2.2         0.7     0.2    3.1

In [65]:
new_hosp_df.shape

(306, 6)

In [66]:
# drop the null values if it exists, and they happened to have some null values after I joined them together, 
# so I went back to this part to fix them.
hospital_df = new_hosp_df.dropna()
hospital_df.head()

   year       state  state_local_gov  non_profit  profit  total
0  2010     Alabama              1.5         0.8     0.9    3.2
1  2010      Alaska              0.3         1.5     0.3    2.2
2  2010     Arizona              0.1         1.6     0.4    2.1
3  2010    Arkansas              0.4         2.1     0.8    3.2
4  2010  California              0.3         1.2     0.3    1.9

In [67]:
hospital_df.tail()

    year          state  state_local_gov  non_profit  profit  total
46  2015       Virginia              0.2         1.5     0.4    2.1
47  2015     Washington              0.4         1.1     0.2    1.7
48  2015  West Virginia              0.3         2.7     0.7    3.7
49  2015      Wisconsin              0.0         2.1     0.1    2.2
50  2015        Wyoming              2.2         0.7     0.2    3.1

In [68]:
# as you can see here, the number of rows decreased from 306 to 253. This indicates there are some null values within the data.
hospital_df.shape

(253, 6)

In [69]:
# make a dictionary of the state for converting state name into abbreviation 
# so, it will match with the other data set of cities 
# and so, we can join both of the tables by each state and a year, which this was our goal 
us_state_abbrev = {
'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO',
'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA',
'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD',
'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

In [70]:
# replace the name of the state into abbreviation 
hospital_df['state'] = hospital_df['state'].map(us_state_abbrev).fillna(hospital_df['state'])
hospital_df.head()

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   year state  state_local_gov  non_profit  profit  total
0  2010    AL              1.5         0.8     0.9    3.2
1  2010    AK              0.3         1.5     0.3    2.2
2  2010    AZ              0.1         1.6     0.4    2.1
3  2010    AR              0.4         2.1     0.8    3.2
4  2010    CA              0.3         1.2     0.3    1.9

In [71]:
hospital_df.tail()

    year state  state_local_gov  non_profit  profit  total
46  2015    VA              0.2         1.5     0.4    2.1
47  2015    WA              0.4         1.1     0.2    1.7
48  2015    WV              0.3         2.7     0.7    3.7
49  2015    WI              0.0         2.1     0.1    2.2
50  2015    WY              2.2         0.7     0.2    3.1

In [72]:
# check the rows using .shape function.
# it is same as previous one. 
# so there is no errors on adding extra values into the dataframe table. whew!
hospital_df.shape

(253, 6)

In [73]:
# look into the data where the columns type 
sort_city_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13512 entries, 639 to 13354
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   category        13512 non-null  object
 1   cause_of_death  13512 non-null  object
 2   gender          13512 non-null  object
 3   race_ethnicity  13512 non-null  object
 4   death_rate      13499 non-null  float64
 5   state           12899 non-null  object
 6   year            13512 non-null  object
dtypes: float64(1), object(6)
memory usage: 844.5+ KB

In [74]:
# convert the year object into integers 
sort_city_data['year'] = sort_city_data['year'].astype(int)

In [75]:
# check if the year turned into integer
sort_city_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13512 entries, 639 to 13354
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   category        13512 non-null  object
 1   cause_of_death  13512 non-null  object
 2   gender          13512 non-null  object
 3   race_ethnicity  13512 non-null  object
 4   death_rate      13499 non-null  float64
 5   state           12899 non-null  object
 6   year            13512 non-null  int32
dtypes: float64(1), int32(1), object(5)
memory usage: 791.7+ KB

In [76]:
# check hospital bed data column type
hospital_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253 entries, 0 to 50
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             253 non-null    int64
 1   state            253 non-null    object
 2   state_local_gov  253 non-null    float64
 3   non_profit       253 non-null    float64
 4   profit           253 non-null    float64
 5   total            253 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 13.8+ KB

In [78]:
# convert the column type into string for both of the data set
sort_city_data['state']=sort_city_data['state'].str.strip()
hospital_df['state']=hospital_df['state'].str.strip()

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [112]:
# drop the duplicates of the city data to be make sure if they have anything repeated to avoid errors
sort_city_data.drop_duplicates(keep='first')

,category,cause_of_death,gender,race_ethnicity,death_rate,state,year
639,Injury and Violence,Firearm Related Mortality Rate (Age-Adjusted; ...,Female,All,1.4,MA,2010
10136,"Nutrition, Physical Activity, & Obesity",Diabetes Mortality Rate (Age-Adjusted; Per 100...,Both,Asian/PI,18.6,CA,2010
11511,Tobacco,Percent of High School Students Who Currently ...,Male,All,14.0,WA,2010
5611,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Both,Black,38.2,FL,2010
392,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Male,All,25.1,MD,2010
...,...,...,...,...,...,...,...
13306,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Both,All,26.2,CA,2015
13345,Infectious Disease,Percent of Adults Who Received Seasonal Flu Shot,Both,All,42.1,CA,2015
13258,Behavioral Health/Substance Abuse,Percent of Adults Who Binge Drank,Both,All,18.7,CA,2015
13228,Tobacco,Percent of Adults Who Currently Smoke,Both,All,15.5,CA,2015
13354,Infectious Disease,Percent of Adults Over Age 65 Who Received Pne...,Both,All,59.0,CA,2015

In [113]:
# drop any null values left if exists
sort_city_data.dropna()

,category,cause_of_death,gender,race_ethnicity,death_rate,state,year
639,Injury and Violence,Firearm Related Mortality Rate (Age-Adjusted; ...,Female,All,1.4,MA,2010
10136,"Nutrition, Physical Activity, & Obesity",Diabetes Mortality Rate (Age-Adjusted; Per 100...,Both,Asian/PI,18.6,CA,2010
11511,Tobacco,Percent of High School Students Who Currently ...,Male,All,14.0,WA,2010
5611,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Both,Black,38.2,FL,2010
392,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Male,All,25.1,MD,2010
...,...,...,...,...,...,...,...
13306,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Both,All,26.2,CA,2015
13345,Infectious Disease,Percent of Adults Who Received Seasonal Flu Shot,Both,All,42.1,CA,2015
13258,Behavioral Health/Substance Abuse,Percent of Adults Who Binge Drank,Both,All,18.7,CA,2015
13228,Tobacco,Percent of Adults Who Currently Smoke,Both,All,15.5,CA,2015
13354,Infectious Disease,Percent of Adults Over Age 65 Who Received Pne...,Both,All,59.0,CA,2015

In [117]:
# check the shape (rows) of the dataframe
# 13512 rows matches with the cleaned dataframe on the previous part of the project 
sort_city_data.shape

(13512, 7)

In [80]:
# merge the both dataframees together at 'state' and 'year' on both left and right join 
# save it as joined_df 
joined_df= pd.merge(sort_city_data,hospital_df, how='inner', left_on=['state','year'], right_on=['state','year'])
joined_df.head()

,category,cause_of_death,gender,race_ethnicity,death_rate,state,year,state_local_gov,non_profit,profit,total
0,Injury and Violence,Firearm Related Mortality Rate (Age-Adjusted; ...,Female,All,1.4,MA,2010,0.0,2.2,0.2,2.4
1,Injury and Violence,Motor Vehicle Mortality Rate (Age-Adjusted; Pe...,Both,All,3.1,MA,2010,0.0,2.2,0.2,2.4
2,Injury and Violence,Motor Vehicle Mortality Rate (Age-Adjusted; Pe...,Female,All,2.0,MA,2010,0.0,2.2,0.2,2.4
3,Injury and Violence,"Homicide Rate (Age-Adjusted; Per 100,000 people)",Male,All,17.5,MA,2010,0.0,2.2,0.2,2.4
4,Injury and Violence,"Homicide Rate (Age-Adjusted; Per 100,000 people)",Female,All,1.8,MA,2010,0.0,2.2,0.2,2.4

In [81]:
joined_df.tail()

,category,cause_of_death,gender,race_ethnicity,death_rate,state,year,state_local_gov,non_profit,profit,total
11258,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Both,All,26.2,CA,2015,0.3,1.2,0.3,1.8
11259,Infectious Disease,Percent of Adults Who Received Seasonal Flu Shot,Both,All,42.1,CA,2015,0.3,1.2,0.3,1.8
11260,Behavioral Health/Substance Abuse,Percent of Adults Who Binge Drank,Both,All,18.7,CA,2015,0.3,1.2,0.3,1.8
11261,Tobacco,Percent of Adults Who Currently Smoke,Both,All,15.5,CA,2015,0.3,1.2,0.3,1.8
11262,Infectious Disease,Percent of Adults Over Age 65 Who Received Pne...,Both,All,59.0,CA,2015,0.3,1.2,0.3,1.8

In [93]:
# check if the null values dropped
joined_df.shape

(11263, 11)

In [94]:
# save the csv as new hospital data
joined_df.to_csv(r'D:\Github\Project-2-ETL-Cities-Health-Data\data\new_hospital_data.csv', index=True)

In [95]:
# below are the work that I saved each dataframe for hospital beds data by the year.
# I commented out the rest of the individual dataframe of hospital beds data by the year because
# it was unnecessary to use, since we already have joined dataframe for hospital beds data

In [96]:
# beds_2010 = hospital_beds_2010_csv_file_df[['Year','Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# beds_2010.head()

# # rename each labels with year 2010
# new_beds_2010 = beds_2010.rename(columns={'Year':'year',
#                                           'Location':'state',
#                                          'State/Local Government':'state_local_2010',
#                                          'Non-Profit':'nonprofit_2010',
#                                          'For-Profit':'profit_2010'})
# new_beds_2010.head()

In [97]:
# beds_2011 = hospital_beds_2011_csv_file_df[['Year','Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# # beds_2010.head()

# # rename each labels with year 2011
# new_beds_2011 = beds_2011.rename(columns={'Year':'year',
#                                           'Location':'state',
#                                          'State/Local Government':'state_local_2011',
#                                          'Non-Profit':'nonprofit_2011',
#                                          'For-Profit':'profit_2011'})
# new_beds_2011.head()

In [98]:
# beds_2012 = hospital_beds_2012_csv_file_df[['Year','Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# # beds_2010.head()

# # rename each labels with year 2012
# new_beds_2012 = beds_2012.rename(columns={'Year':'year',
#                                           'Location':'state',
#                                          'State/Local Government':'state_local_2012',
#                                          'Non-Profit':'nonprofit_2012',
#                                          'For-Profit':'profit_2012'})
# new_beds_2012.head()

In [99]:
# beds_2013 = hospital_beds_2013_csv_file_df[['Year','Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# # beds_2010.head()

# # rename each labels with year 2013
# new_beds_2013 = beds_2013.rename(columns={'Year':'year',
#                                           'Location':'state',
#                                          'State/Local Government':'state_local_2013',
#                                          'Non-Profit':'nonprofit_2013',
#                                          'For-Profit':'profit_2013'})
# new_beds_2013.head()

In [100]:
# beds_2014 = hospital_beds_2014_csv_file_df[['Year','Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# # beds_2010.head()

# # rename each labels with year 2013
# new_beds_2014 = beds_2014.rename(columns={'Year':'year',
#                                           'Location':'state',
#                                          'State/Local Government':'state_local_2014',
#                                          'Non-Profit':'nonprofit_2014',
#                                          'For-Profit':'profit_2014'})
# new_beds_2014.head()

In [101]:
# beds_2015 = hospital_beds_2015_csv_file_df[['Year','Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# # beds_2010.head()

# # rename each labels with year 2015
# new_beds_2015 = beds_2015.rename(columns={'Year':'year',
#                                           'Location':'state',
#                                          'State/Local Government':'state_local_2015',
#                                          'Non-Profit':'nonprofit_2015',
#                                          'For-Profit':'profit_2015'})
# new_beds_2015.head()

# Loading the extracted data into SQL database

In [129]:
# import dependencies 
from pin import username, password

# make a connection string for the database on localhost, and create engine for the database we made 
rds_connection_string = (f"{username}:{password}@localhost:5432/healthcities_db")
engine = create_engine(f'postgresql://{rds_connection_string}')

# Check the table names

In [130]:
engine.table_names()

['health_cities', 'hospital_data']

# Use Pandas to load csv converted DataFrame into SQL database

In [131]:
sort_city_data.to_sql(name='health_cities', con=engine, if_exists='append', index=False)

In [132]:
sort_city_data.shape

(13512, 7)

In [133]:
hospital_df.to_sql(name='hospital_data', con=engine, if_exists='append', index=False)

In [134]:
hospital_df.shape

(253, 6)

In [135]:
# this is where I previously loaded each converted DataFrame into SQL database, and tried to join them using SQL database
# instead of joining in pandas dataframe. However, it went through with errors and ran some troubleshooting. 
# so, my collegue helped me out, and suggest them to join in pandas dataframe first just to make a life an ease. 
# and, whew! that worked through without having errors and went through succeessfully. so, think simple and fail fast! 

# new_beds_2010.to_sql(name='hospital_data_2010', con=engine, if_exists='append', index=False)
# new_beds_2011.to_sql(name='hospital_data_2011', con=engine, if_exists='append', index=False)
# new_beds_2012.to_sql(name='hospital_data_2012', con=engine, if_exists='append', index=False)
# new_beds_2013.to_sql(name='hospital_data_2013', con=engine, if_exists='append', index=False)
# new_beds_2014.to_sql(name='hospital_data_2014', con=engine, if_exists='append', index=False)
# new_beds_2015.to_sql(name='hospital_data_2015', con=engine, if_exists='append', index=False)

# Confirm if the data has been added into SQL database query successfully for health_cities database.

In [136]:
cities_df = pd.read_sql_query('SELECT * FROM health_cities', con=engine)
cities_df.head()

,year,category,cause_of_death,gender,race_ethnicity,death_rate,state
0,2010,Injury and Violence,Firearm Related Mortality Rate (Age-Adjusted; ...,Female,All,1.0,MA
1,2010,"Nutrition, Physical Activity, & Obesity",Diabetes Mortality Rate (Age-Adjusted; Per 100...,Both,Asian/PI,19.0,CA
2,2010,Tobacco,Percent of High School Students Who Currently ...,Male,All,14.0,WA
3,2010,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Both,Black,38.0,FL
4,2010,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Male,All,25.0,MD

In [137]:
cities_df.shape

(13512, 7)

In [138]:
cities_df.tail()

,year,category,cause_of_death,gender,race_ethnicity,death_rate,state
13507,2015,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,Both,All,26.0,CA
13508,2015,Infectious Disease,Percent of Adults Who Received Seasonal Flu Shot,Both,All,42.0,CA
13509,2015,Behavioral Health/Substance Abuse,Percent of Adults Who Binge Drank,Both,All,19.0,CA
13510,2015,Tobacco,Percent of Adults Who Currently Smoke,Both,All,16.0,CA
13511,2015,Infectious Disease,Percent of Adults Over Age 65 Who Received Pne...,Both,All,59.0,CA

In [139]:
cleaned_hospital_df = pd.read_sql_query('SELECT * FROM hospital_data', con=engine)
cleaned_hospital_df.head()

   year state  state_local_gov  non_profit  profit  total
0  2010    AL                2           1       1      3
1  2010    AK                0           2       0      2
2  2010    AZ                0           2       0      2
3  2010    AR                0           2       1      3
4  2010    CA                0           1       0      2

In [140]:
cleaned_hospital_df.tail()

     year state  state_local_gov  non_profit  profit  total
248  2015    VA                0           2       0      2
249  2015    WA                0           1       0      2
250  2015    WV                0           3       1      4
251  2015    WI                0           2       0      2
252  2015    WY                2           1       0      3

In [141]:
cleaned_hospital_df.shape

(253, 6)

In [57]:
# This is just individual query that I worked with previous dataframe and tried to load each hospital beds data in each query.
# However, these queries made the life more complicated with a full of errors and running into some troubleshooting.
# So, I commented out just to show where I have made a mistake. 

# hospitals_2010 = pd.read_sql_query('SELECT * FROM hospital_data_2010', con=engine)
# hospitals_2010.head()

# hospitals_2011 = pd.read_sql_query('SELECT * FROM hospital_data_2011', con=engine)
# hospitals_2011.head()

# hospitals_2012 = pd.read_sql_query('SELECT * FROM hospital_data_2012', con=engine)
# hospitals_2012.head()

# hospitals_2013 = pd.read_sql_query('SELECT * FROM hospital_data_2013', con=engine)
# hospitals_2013.head()

# hospitals_2014 = pd.read_sql_query('SELECT * FROM hospital_data_2014', con=engine)
# hospitals_2014.head()

# hospitals_2015 = pd.read_sql_query('SELECT * FROM hospital_data_2015', con=engine)
# hospitals_2015.head()

# Merging the data together using SQL database

In [142]:
merged_health_data = pd.read_sql_query('SELECT hc.category, hc.cause_of_death, hc.gender, hc.race_ethnicity, hc.death_rate, ho.state, hc.year, ho.state_local_gov, ho.non_profit, ho.profit, ho.total FROM health_cities hc INNER JOIN hospital_data ho ON hc.year = ho.year AND hc.state = ho.state ORDER BY hc.year ASC', 
                                       con=engine)
merged_health_data.head()

,category,cause_of_death,gender,race_ethnicity,death_rate,state,year,state_local_gov,non_profit,profit,total
0,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,Both,Native American,22.0,AZ,2010,0,2,0,2
1,Cancer,Lung Cancer Mortality Rate (Age-Adjusted; Per ...,Both,All,25.0,AZ,2010,0,2,0,2
2,Maternal and Child Health,Percent of Mothers Under Age 20,Female,Other,4.0,AZ,2010,0,2,0,2
3,Cancer,Lung Cancer Mortality Rate (Age-Adjusted; Per ...,Both,White,47.0,AZ,2010,0,2,0,2
4,"Nutrition, Physical Activity, & Obesity",Heart Disease Mortality Rate (Age-Adjusted; Pe...,Male,All,96.0,AZ,2010,0,2,0,2

In [143]:
merged_health_data.tail()

,category,cause_of_death,gender,race_ethnicity,death_rate,state,year,state_local_gov,non_profit,profit,total
11258,Infectious Disease,Percent of Adults Over Age 65 Who Received Pne...,Both,All,59.0,CA,2015,0,1,0,2
11259,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Meet CDC-Recommended Phy...,Both,All,32.0,CA,2015,0,1,0,2
11260,Tobacco,Percent of Adults Who Currently Smoke,Both,All,16.0,CA,2015,0,1,0,2
11261,Behavioral Health/Substance Abuse,Percent of Adults Who Binge Drank,Both,All,19.0,CA,2015,0,1,0,2
11262,Infectious Disease,Percent of Adults Who Received Seasonal Flu Shot,Both,All,42.0,CA,2015,0,1,0,2

In [145]:
# always check for shape for correct number of rows 
# I've ran into problem where I have more rows that I have after I join these two data tables 
# and my colleague helped me that I should check for number of rows count just to make sure I am inserting the tables correctly.
merged_health_data.shape

(11263, 11)

# Source we used

In [ ]:
# Data Source 1- Health Status across US urban cities
# https://data.world/health/big-cities-health

# Data Source 2 - Hospital Data
# https://www.kff.org/other/state-indicator/beds-by-ownership/?currentTimeframe=10&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D