In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store .csv files into dataframe

In [2]:
big_cities_csv_file = "data/Big_Cities_Health_Data_Inventory.csv"
big_cities_health_df = pd.read_csv(big_cities_csv_file)
big_cities_health_df.head()

,Indicator Category,Indicator,Year,Gender,Race/ Ethnicity,Value,Place,BCHC Requested Methodology,Source,Methods,Notes
0,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2013,Both,All,30.4,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
1,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2012,Both,All,39.6,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
2,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2011,Both,All,41.7,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
3,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Male,All,195.8,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN
4,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Female,All,135.5,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN

In [3]:
hospital_beds_ownership_csv_file = "data/Hospital_Beds_per_1000_pop_by_Ownership_type.csv"
hospital_beds_ownership_df = pd.read_csv(hospital_beds_ownership_csv_file)
hospital_beds_ownership_df.head()

# Since this data is small, manually cleaned up the tables for titles, timeframe:2008, and notes 
# in a separate csv file called sources.

        Location  State/Local Government  Non-Profit  For-Profit  Total
0  United States                     0.4         1.8         0.4    2.7
1        Alabama                     1.5         0.9         0.9    3.3
2         Alaska                     0.3         1.6         0.3    2.3
3        Arizona                     0.1         1.5         0.4    2.0
4       Arkansas                     0.3         2.3         0.7    3.4

### Clean the data sources

### Loading the data

### Merging the data together

### Check the data if it's correctly merged together