In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store .csv files into dataframe

In [2]:
# import .csv into dataframe
big_cities_csv_file = "data/Big_Cities_Health_Data_Inventory.csv"
big_cities_health_df = pd.read_csv(big_cities_csv_file)
big_cities_health_df.head()

,Indicator Category,Indicator,Year,Gender,Race/ Ethnicity,Value,Place,BCHC Requested Methodology,Source,Methods,Notes
0,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2013,Both,All,30.4,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
1,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2012,Both,All,39.6,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
2,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2011,Both,All,41.7,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
3,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Male,All,195.8,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN
4,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Female,All,135.5,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN

In [3]:
# import 2010 hospital beds by ownership types; test results in 1,000 populations
hospital_beds_2010_csv_file = "data/2010_hospital_1000population_beds_ownership_type.csv"
hospital_beds_2010_csv_file_df = pd.read_csv(hospital_beds_2010_csv_file)
hospital_beds_2010_csv_file_df.head()

     Location  State/Local Government  Non-Profit  For-Profit  Total
0     Alabama                     1.5         0.8         0.9    3.2
1      Alaska                     0.3         1.5         0.3    2.2
2     Arizona                     0.1         1.6         0.4    2.1
3    Arkansas                     0.4         2.1         0.8    3.2
4  California                     0.3         1.2         0.3    1.9

In [4]:
# import 2011 hospital beds by ownership types; test results in 1,000 populations
hospital_beds_2011_csv_file = "data/2011_hospital_1000population_beds_ownership_type.csv"
hospital_beds_2011_csv_file_df = pd.read_csv(hospital_beds_2011_csv_file)
hospital_beds_2011_csv_file_df.head()

     Location  State/Local Government  Non-Profit  For-Profit  Total
0     Alabama                     1.5         0.9         0.9    3.2
1      Alaska                     0.3         1.6         0.3    2.1
2     Arizona                     0.1         1.6         0.3    2.1
3    Arkansas                     0.3         2.1         0.8    3.2
4  California                     0.3         1.2         0.3    1.9

In [5]:
# import 2012 hospital beds by ownership types; test results in 1,000 populations
hospital_beds_2012_csv_file = "data/2012_hospital_1000population_beds_ownership_type.csv"
hospital_beds_2012_csv_file_df = pd.read_csv(hospital_beds_2012_csv_file)
hospital_beds_2012_csv_file_df.head()

     Location  State/Local Government  Non-Profit  For-Profit  Total
0     Alabama                     1.4         0.8         0.8    3.1
1      Alaska                     0.3         1.5         0.3    2.1
2     Arizona                     0.1         1.6         0.4    2.1
3    Arkansas                     0.3         2.1         0.8    3.2
4  California                     0.3         1.2         0.3    1.9

In [6]:
# import 2013 hospital beds by ownership types; test results in 1,000 populations
hospital_beds_2013_csv_file = "data/2013_hospital_1000population_beds_ownership_type.csv"
hospital_beds_2013_csv_file_df = pd.read_csv(hospital_beds_2013_csv_file)
hospital_beds_2013_csv_file_df.head()

     Location  State/Local Government  Non-Profit  For-Profit  Total
0     Alabama                     1.5         0.9         0.8    3.1
1      Alaska                     0.3         1.6         0.3    2.1
2     Arizona                     0.1         1.5         0.4    2.0
3    Arkansas                     0.3         2.1         0.8    3.2
4  California                     0.3         1.2         0.3    1.8

In [7]:
# import 2014 hospital beds by ownership types; test results in 1,000 populations
hospital_beds_2014_csv_file = "data/2014_hospital_1000population_beds_ownership_type.csv"
hospital_beds_2014_csv_file_df = pd.read_csv(hospital_beds_2014_csv_file)
hospital_beds_2014_csv_file_df.head()

     Location  State/Local Government  Non-Profit  For-Profit  Total
0     Alabama                     1.6         0.8         0.8    3.1
1      Alaska                     0.3         1.6         0.3    2.2
2     Arizona                     0.1         1.5         0.4    2.0
3    Arkansas                     0.3         2.1         0.7    3.1
4  California                     0.3         1.2         0.3    1.8

In [8]:
# import 2015 hospital beds by ownership types; test results in 1,000 populations
hospital_beds_2015_csv_file = "data/2015_hospital_1000population_beds_ownership_type.csv"
hospital_beds_2015_csv_file_df = pd.read_csv(hospital_beds_2015_csv_file)
hospital_beds_2015_csv_file_df.head()

     Location  State/Local Government  Non-Profit  For-Profit  Total
0     Alabama                     1.5         0.6         0.9    3.0
1      Alaska                     0.3         1.5         0.4    2.2
2     Arizona                     0.1         1.5         0.4    2.0
3    Arkansas                     0.3         2.2         0.7    3.2
4  California                     0.3         1.2         0.3    1.8

### Clean the data sources

In [24]:
# big_cities_csv_file = "data/Big_Cities_Health_Data_Inventory.csv"
# big_cities_health_df = pd.read_csv(big_cities_csv_file)
# big_cities_health_df.head()

health_cities = big_cities_health_df[['Year', 'Indicator Category', 'Gender', 'Race/ Ethnicity', 'Value', 'Place']]
# health_cities.head()

# rename the big health data in cities 
new_health_cities = health_cities.rename(columns={'Year':'year',
                                                 'Indicator Category':'status_category',
                                                 'Gender':'gender',
                                                 'Race/ Ethnicity':'race_ethnicity',
                                                 'Value':'value',
                                                 'Place':'city_state'})
new_health_cities.head()

,year,status_category,gender,race_ethnicity,value,city_state
0,2013,HIV/AIDS,Both,All,30.4,"Atlanta (Fulton County), GA"
1,2012,HIV/AIDS,Both,All,39.6,"Atlanta (Fulton County), GA"
2,2011,HIV/AIDS,Both,All,41.7,"Atlanta (Fulton County), GA"
3,2013,Cancer,Male,All,195.8,"Atlanta (Fulton County), GA"
4,2013,Cancer,Female,All,135.5,"Atlanta (Fulton County), GA"

In [25]:
# split the city and the state
new_health_cities[['city','state']] = new_health_cities.city_state.str.split(expand=True, pat=",")
new_health_cities.head()

,year,status_category,gender,race_ethnicity,value,city_state,city,state
0,2013,HIV/AIDS,Both,All,30.4,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA
1,2012,HIV/AIDS,Both,All,39.6,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA
2,2011,HIV/AIDS,Both,All,41.7,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA
3,2013,Cancer,Male,All,195.8,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA
4,2013,Cancer,Female,All,135.5,"Atlanta (Fulton County), GA",Atlanta (Fulton County),GA

In [26]:
# drop the city_state and city columns for cleaner look
new_health_cities_df = new_health_cities.drop(columns=['city_state', 'city'])
new_health_cities_df

       year status_category  gender race_ethnicity  value state
0      2013        HIV/AIDS    Both            All   30.4    GA
1      2012        HIV/AIDS    Both            All   39.6    GA
2      2011        HIV/AIDS    Both            All   41.7    GA
3      2013          Cancer    Male            All  195.8    GA
4      2013          Cancer  Female            All  135.5    GA
...     ...             ...     ...            ...    ...   ...
13507  2013     Food Safety  Female            All   14.3    MO
13508  2013     Food Safety    Male            All    6.2    MO
13509  2014     Food Safety    Both            All   12.7    MO
13510  2014     Food Safety  Female            All   13.3    MO
13511  2014     Food Safety    Male            All   12.0    MO

[13512 rows x 6 columns]

In [31]:
# save this data in csv file as 'new_health_data.csv'
new_health_cities_df.to_csv(r'D:\Github\Project-2-ETL-Cities-Health-Data\data\new_health_data.csv', index=False)

#### rename the tables for 2010

In [14]:
beds_2010 = hospital_beds_2010_csv_file_df[['Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# beds_2010.head()

year = []

# rename each labels with year 2010
new_beds_2010 = beds_2010.rename(columns={'Location':'state',
                                         'State/Local Government':'state_local_2010',
                                         'Non-Profit':'nonprofit_2010',
                                         'For-Profit':'profit_2010'})
new_beds_2010.head()

        state  state_local_2010  nonprofit_2010  profit_2010
0     Alabama               1.5             0.8          0.9
1      Alaska               0.3             1.5          0.3
2     Arizona               0.1             1.6          0.4
3    Arkansas               0.4             2.1          0.8
4  California               0.3             1.2          0.3

#### rename the tables for 2011

In [15]:
beds_2011 = hospital_beds_2011_csv_file_df[['Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# beds_2010.head()

# rename each labels with year 2011
new_beds_2011 = beds_2011.rename(columns={'Location':'state',
                                         'State/Local Government':'state_local_2011',
                                         'Non-Profit':'nonprofit_2011',
                                         'For-Profit':'profit_2011'})
new_beds_2011.head()

        state  state_local_2011  nonprofit_2011  profit_2011
0     Alabama               1.5             0.9          0.9
1      Alaska               0.3             1.6          0.3
2     Arizona               0.1             1.6          0.3
3    Arkansas               0.3             2.1          0.8
4  California               0.3             1.2          0.3

#### rename the tables for 2012

In [16]:
beds_2012 = hospital_beds_2012_csv_file_df[['Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# beds_2010.head()

# rename each labels with year 2012
new_beds_2012 = beds_2012.rename(columns={'Location':'state',
                                         'State/Local Government':'state_local_2012',
                                         'Non-Profit':'nonprofit_2012',
                                         'For-Profit':'profit_2012'})
new_beds_2012.head()

        state  state_local_2012  nonprofit_2012  profit_2012
0     Alabama               1.4             0.8          0.8
1      Alaska               0.3             1.5          0.3
2     Arizona               0.1             1.6          0.4
3    Arkansas               0.3             2.1          0.8
4  California               0.3             1.2          0.3

#### rename the tables for 2013

In [17]:
beds_2013 = hospital_beds_2013_csv_file_df[['Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# beds_2010.head()

# rename each labels with year 2013
new_beds_2013 = beds_2013.rename(columns={'Location':'state',
                                         'State/Local Government':'state_local_2013',
                                         'Non-Profit':'nonprofit_2013',
                                         'For-Profit':'profit_2013'})
new_beds_2013.head()

        state  state_local_2013  nonprofit_2013  profit_2013
0     Alabama               1.5             0.9          0.8
1      Alaska               0.3             1.6          0.3
2     Arizona               0.1             1.5          0.4
3    Arkansas               0.3             2.1          0.8
4  California               0.3             1.2          0.3

#### rename the tables for 2014

In [18]:
beds_2014 = hospital_beds_2014_csv_file_df[['Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# beds_2010.head()

# rename each labels with year 2013
new_beds_2014 = beds_2014.rename(columns={'Location':'state',
                                         'State/Local Government':'state_local_2014',
                                         'Non-Profit':'nonprofit_2014',
                                         'For-Profit':'profit_2014'})
new_beds_2014.head()

        state  state_local_2014  nonprofit_2014  profit_2014
0     Alabama               1.6             0.8          0.8
1      Alaska               0.3             1.6          0.3
2     Arizona               0.1             1.5          0.4
3    Arkansas               0.3             2.1          0.7
4  California               0.3             1.2          0.3

#### rename the tables for 2015

In [19]:
beds_2015 = hospital_beds_2015_csv_file_df[['Location', 'State/Local Government', 'Non-Profit', 'For-Profit']].copy()
# beds_2010.head()

# rename each labels with year 2015
new_beds_2015 = beds_2015.rename(columns={'Location':'state',
                                         'State/Local Government':'state_local_2015',
                                         'Non-Profit':'nonprofit_2015',
                                         'For-Profit':'profit_2015'})
new_beds_2015.head()

        state  state_local_2015  nonprofit_2015  profit_2015
0     Alabama               1.5             0.6          0.9
1      Alaska               0.3             1.5          0.4
2     Arizona               0.1             1.5          0.4
3    Arkansas               0.3             2.2          0.7
4  California               0.3             1.2          0.3

### Loading the data

### Merging the data together

### Check the data if it's correctly merged together